*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1vw;
    padding-top: 1vw;
    background-color: rgb(76, 149, 158);
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.links a{
    padding-left: 1vw;
}
#vidbg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.banner{
    margin-top: 33vh;
    padding: 50px;
    background: rgba(78, 173, 137, 0.5);
}
.bannerhead{
    text-align: center;
    color: white;
    font-size: 300%;
}
.icon{
    background: url(media/sprite3.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
    background-size: 359px 174px;
    display: inline-block;
    border-radius: 30px;
}
footer{
    margin-top: 25vh;
    text-align: right;
    margin-right: 10px;
}

#twt{background-position: -33px -36px;}
#fb{background-position: -219px -73px;}
#gmail{background-position: -182px -111px;}
#skype{background-position: -182px -74px;}